<form [formGroup]="myForm" novalidate (ngSubmit)="submit()">
    <div>
        <label>Email</label><br>
        <input name="email" formControlName="userEmail" />
  
        @if(myForm.controls["userEmail"].invalid && myForm.controls["userEmail"].touched)
        {
            <div class="alert">Некорректный email</div>
        }
    </div>
    <div>
        <label>Password</label><br>
        <input type="password" name="password" formControlName="userPassword" />
  
        @if(myForm.controls["userPassword"].invalid && myForm.controls["userPassword"].touched){
            <div class="alert">Некорректный пароль</div>
        }
    </div>
    <button [disabled]="myForm.invalid">Отправить </button>
  </form>
  